<form [formGroup]="customerForm" (ngSubmit)="onFormSubmit()">
    <table>
        <tr>
            <td>Username: </td>
            <td>
                <input type="text" formControlName="username" name="username" class="form-control" required>
                <div *ngIf="f.username.errors" class="error"> 
                    <div *ngIf="f.username.errors">
                        Name required
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Password: </td>
            <td>
                <input type="text" formControlName="password" name="password" class="form-control" required>
                <div *ngIf="f.password.errors" class="error"> 
                    <div *ngIf="f.password.errors">
                        Password required
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button >Submit</button>
          </td>
        </tr>
    </table>
</form>
<ul>
    <li *ngFor="let customer of allCustomers$ | async"> 
        {{customer.firstName}} | {{customer.id}}
    </li>
</ul>